server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: ${SPRING_APPLICATION_NAME:api-gateway}

  cache:
    type: caffeine
    cache-names: lbCache
    caffeine:
      spec: maximumSize=500,expireAfterWrite=5m

  config:
    import: 'consul:'

  cloud:
    consul:
      host: ${CONSUL_HOST:consul}
      port: ${CONSUL_PORT:8500}
      discovery:
        enabled: true
        register: true
        prefer-ip-address: true
        instanceId: ${spring.application.name:api-gateway}:${random.value}
        healthCheckPath: /actuator/health
        healthCheckInterval: 10s
      config:
        enabled: true

    gateway:
      server:
        webflux:
          discovery:
            locator:
              lower-case-service-id: true
              enabled: true
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/api/user/**,/oauth2/**,/login/**
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: ${CORS_ORIGIN:http://localhost:5173}
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - PATCH
                  - DELETE
                allowed-headers: '*'
                allow-credentials: true



management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
